/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Background color for authenticated pages */
.authenticated {
  background-color: #b1c8eb;
}

/* Background color for the login page */
.login-screen {
  background-color: #ffffff;
}

/* Basic styling for the Navbar */
.navbar {
  background-color: #333;
  padding: 1em;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
